Source: php-cakephp-phinx
Section: php
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends: debhelper-compat (= 13), jq, php-intl
Standards-Version: 4.6.2
Homepage: https://phinx.org/
Vcs-Git: https://github.com/Vitexus/php-cakephp-phinx.git
Rules-Requires-Root: no

Package: php-cakephp-phinx
Architecture: all
Depends: ${misc:Depends}, php-cli | php, composer, php-intl, php-pdo,
 php-cakephp-database, php-psr-container, php-symfony-console, php-symfony-config, php-symfony-polyfill-php80
Provides: phinx, php-robmorgan-phinx
Description: Simple PHP Database Migrations
 Phinx makes it ridiculously easy to manage the database migrations for
 your PHP app. In less than 5 minutes, you can install Phinx and create
 your first database migration. Phinx is just about migrations without
 all the bloat of a database ORM system or framework.
