#!/usr/bin/make -f

export DH_VERBOSE = 1

PKG_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/~.*//')
PKG_SOURCE  := $(shell jq -r '.name' composer.json)

%:
	dh $@

override_dh_install:
	dh_install
	install -m 644 debian/autoload.php debian/php-cakephp-phinx/usr/share/php/Phinx/autoload.php
	sed -i "s|'unknown'|'$(PKG_SOURCE)'|" debian/php-cakephp-phinx/usr/share/php/Phinx/autoload.php
	sed -i "s|'0.0.0'|'$(PKG_VERSION)'|" debian/php-cakephp-phinx/usr/share/php/Phinx/autoload.php
	sed -i '/^<?php$$/ a require_once '"'"'/usr/share/php/Phinx/autoload.php'"'"';' debian/php-cakephp-phinx/usr/bin/phinx
